body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.center {
  text-align: center;
}

.ui.page.modals.transition.visible {
    display: flex !important;
}

.login-form {
  margin-top: 10%;
  margin-bottom: 10%;
}
