body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.center {
  text-align: center;
}

.ui.page.modals.transition.visible {
    display: flex !important;
}

.dimmed.dimmable > .ui.modals.dimmer.visible {
  display: flex !important;
}

.login-form {
  margin-top: 10%;
  margin-bottom: 10%;
}

.pointer {
  cursor: pointer;
}

.sidebar {
  float: left;
  min-height: 100vh;
  min-width: 37%;
}

.right {
  float: right;
}

.logo {
  margin-bottom: 20px;
}

.marginSide {
  margin-top: 40px;
  margin-left: 15%;
  margin-right: 25%;
  margin-bottom: 60px;
}
